.container input {
  width: 250px;
  height: 50px;
  margin-right: 20px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
}
label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(151, 151, 151);
}
